
header {grid-area: header}
aside {grid-area: aside}
main {grid-area: main;}
footer {grid-area: footer;}
.hobbies {grid-area: hobbies;}
.hobimg {grid-area: hobimg;}

.container {
    display: grid;
     grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "hobbies hobbies"
        "footer footer";
}


header, aside, main, .hobbies, footer, .hobimg { border: 2px solid red; }





body {
    background: lightgray;
    border:20px double black;
    margin: 30px;
  
}

h1 {
    text-align: center;
   
   
}
#p1 {
    text-align: center;
    color: midnightblue;
    font-size: x-large;
    
}
aside {
    padding: 10px;
}

main {
    margin:30px;
    overflow-wrap: normal;
    
}

ul {
    list-style-type:none;
    margin:30px;
    font-size: large;
}

ul img {
    object-fit: scale-down; max-width: 100%
}
h2{
    padding-left:20px;
}
.hobbies {
    object-position: center;
    margin:30px;
}

/* .hobimg {
    width:auto;    
    max-width: 100%;
    height: auto;
    padding: 20px;
} */

footer {
    text-align: center;
    padding: 60px;
    margin:50px;
}

@media (max-width: 576px) {
    /* ul img {
         display: none;
    } */

    /* body {
        border:none;
       
    } */
    
}

/* @media (max-width: 800px) {
    ul img {
        display: none;
   }
    .container {
        display: grid;
         grid-template-areas: 
            "header"
            "aside"
            "main"
            "hobbies"
            "footer";
    }
} */