
header {grid-area: header}
aside {grid-area: aside}
main {grid-area: main;}
footer {grid-area: footer;}
/* .hobbies {grid-area: hobbies;} */
.hob1 {grid-area: hob1;}
.hob2 {grid-area: hob2;}

.container {
    display: grid;
     grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "hob1 hob2"
        "footer footer";
}


header, aside, main, footer, .hob1, .hob2, .hobbies { border: 2px solid red; }


body {
    background: lightgray;
    border:20px double black;
    margin: 30px;
}

h1 {
    text-align: center;
}

#p1 {
    text-align: center;
    color: midnightblue;
    font-size: x-large;
}
aside {
    padding: 10px;
}

main {
    margin:30px;
    overflow-wrap: normal;
    
}

ul {
    list-style-type:circle;
    margin:30px;
    font-size: large;
}

ul img {
    object-fit: scale-down; max-width: 100%
}
h2{
    padding-left:20px;
}
.hobbies {
    
    display: flex;
    
}

footer {
    text-align: center;
    padding: 60px;
    margin:50px;
}
